<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="child" class="com.sekharit.spring.bean.Child">
		<property name="propertyDocs" value="10 acers land"></property>
		<property name="bankBalance" value="100000"></property>
		<property name="deseases" value="no deseases"></property>

		<!-- Here we are configuring parent properties in the Child class configuration -->
		<property name="badHabits" value="drinking, smoking, reading...etc" />
		<property name="knowledge" value="NILL"></property>
	</bean>

</beans>
