<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="springBeanId" class="com.sekharit.spring.bean.SpringBean" />

	<bean id="dateId" factory-bean="springBeanId" factory-method="createDateInstance">
	</bean>
	<!-- here we are calling non-static factory method after creating SpringBean 
		object. -->
</beans>
